.example-container {
    position: absolute;
    width: 258.61px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 4px 0px 9px rgba(201, 201, 201, 0.09);
}

.side-header {
    position: absolute;
    width: 81px;
    height: 72px;
    left: 89px;
    top: 24px;
}

.profile {
    position: absolute;
    width: 53px;
    height: 21px;
    left: 42.08px;
    top: 178.09px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #001B30;
    cursor: pointer;
}

.list {
    position: absolute;
    width: 258.61px;
    height: 47.42px;
    left: 0px;
    top: 233.1px;
    background: #001B30;
}

.list-in {
    position: absolute;
    width: 80px;
    height: 21px;
    left: 42.08px;
    top: 246.32px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.moment-list-side {
    position: absolute;
    width: 92px;
    height: 19px;
    left: 81.3px;
    top: 299.21px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #001B30;
    cursor: pointer;
}

.add-new-side {
    position: absolute;
    width: 130px;
    height: 19px;
    left: 81.3px;
    top: 332.97px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #001B30;
    cursor: pointer;
}

.moment-content {
    position: absolute;
    width: 170px;
    height: 24px;
    left: 290.84px;
    top: 82.8px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #001B30;
}

.top-wrap {
    position: absolute;
    width: 1666px;
    height: 63.94px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(201, 201, 201, 0.09);
}

.logout {
    position: absolute;
    width: 33.62px;
    height: 33.62px;
    left: 1466.96px;
    top: 13.19px;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    color: #001B30;
}

.moment-content-wrap {
    position: absolute;
    width: 1666px;
    height: 61.73px;
    left: 0px;
    top: 63.94px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(201, 201, 201, 0.09);
}

.table-container {
    position: absolute;
    width: 1366.08px;
    height: 600.62px;
    left: 285px;
    top: 158px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(201, 201, 201, 0.25);
}

.list-dot {
    position: absolute;
    width: 6.93px;
    height: 6.93px;
    left: 62.19px;
    top: 307.28px;
    background: #001B30;
}

.add-dot {
    position: absolute;
    width: 6.93px;
    height: 6.93px;
    left: 62.19px;
    top: 340px;
    background: #001B30;
}

th {
    border-right: none;
    text-align: center;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    color: #001B30;
    opacity: 0.8;
}

td {
    text-align: center;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #001B30;
}

.table-bordered td, .table-bordered th {
    border: none !important;
    width: 13%;
    vertical-align: middle;
    padding: 17px;
}

tr {
    border-bottom: 1px solid rgba(162, 162, 162, 0.12);
}

tr:last-child {
    border-bottom: none;
}

td a {
    text-decoration: none;
    color: #001B30;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.submitbtn {
    position: 'absolute';
    position: absolute;
    left: 40%;
    right: 69%;
    top: 100%;
    bottom: 43.29%;
    width: 184px;
    height: 50px;
    background: #001B30;
    border-radius: 25px;
    padding: 10px 32px;
    margin: auto;
}

.title-pos {
    position: absolute;
    left: 10%;
    right: 69%;
    top: 0%;
    bottom: 80.22%;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4F4F4F;
}

.tags-pos {
    position: absolute;
    left: 10%;
    right: 69%;
    top: 30%;
    bottom: 57.29%;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4F4F4F;
}

.file-pos {
    position: absolute;
    left: 10%;
    right: 69%;
    top: 50%;
    bottom: 43.29%;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4F4F4F;
}

.btntxt {
    position: 'absolute';
    width: 68px;
    height: 24px;
    left: 649px;
    top: 661px;
    font-family: 'Maven Pro';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sign-up {
    position: 'absolute';
    width: 147px;
    height: 47px;
    left: 609px;
    top: 213px;
    font-family: 'Maven Pro';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 40px;
    line-height: 47px;
    color: #001B30;
}

.sign-up-txt {
    position: 'absolute';
    width: 172px;
    height: 24px;
    left: 609px;
    top: 271px;
    font-family: 'Maven Pro';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 20px;
    line-height: 23px;
    color: #001B30;
}

.sign-up-txt-in {
    position: 'absolute';
    width: 240px;
    height: 24px;
    left: 609px;
    top: 271px;
    font-family: 'Maven Pro';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 20px;
    line-height: 23px;
    color: #001B30;
}

.login-full-width {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.form-group {
    margin-bottom: 1px !important;
}

.input-txt {
    height: 55px;
    line-height: 15px;
}

.mat-form-field {
    width: 372px;
}