.header{
    padding: 50px 21px;
    background-color: #001B30;
    position: 'fixed';
    width: 100%;
    z-index: 2;
    top: 0;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.clear{
    clear: both;
}

.frm {
    background-color: #fff;
    margin-top: -12px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}


.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.23921568627450981) !important
}





.mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 10px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
